.container-hero {
    display:flex;
    justify-content: space-evenly;
}

.hero__izquierda {
    width: 50%;
}

.hero-title {
   margin: 25% 0 0 22%;
   font-family: 'Source Serif Pro', serif;
   font-size: 50px;
   color: #222;
   margin-bottom: 5px; 
}

.hero-text {
    font-family: 'Quicksand', sans-serif;
    margin-left: 18%;
    font-size: 25px;
    color: #222;
}


.hero__derecha {
    width: 50%;
}

.hero__derecha img {
    width: 100%;
    margin-top: 40px;
}

@media only screen and (min-width:320px) and (max-width:480px){
    
    .hero__derecha img {
        display: none;
    }
    
    .hero__izquierda{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 15% 25% 0 25%;
    }
    
    .hero-title {
        margin: 0;
        font-size: 40px;
        
    }
    
    .hero-text {
        font-size: 20px;
        line-height: 30px;
        margin: 0;
    }

    }

    @media only screen and (min-width:600px) and (max-width:768){ 

    .hero__derecha img {
        display: none;
    }

}