
.container-hero {
  display: flex;
  height: 100vh;
  background-image: url(./img/wave13.svg);
  background-size: cover;
  background-repeat:no-repeat ;
  background-position: bottom;
}

.hero__izquierda {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 45%;
}


.hero-title {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 56px;
  color: #222;
  opacity: 0.9;
  margin-top: -55%;
  margin-left: 30%;
}

.hero-text {
  font-family: 'Poppins', sans-serif;
  margin-left: 54.5%;
  width: 70%;
  font-size: 30px;
  line-height: 40px;
  color: #222;
  font-weight: 200;
  margin-top: 1%;
}

.hero__derecha {
  width: 55%;
  display: flex;
  justify-content: center;
  position:relative;
  align-items: center;
}

.hero__derecha img {
  width: 90%;
  height:80%; 
  position:absolute;
  margin-right:60px;
  margin-top: 80px;
}


/* MEDIA QUERYS */

@media only screen and (max-width: 400) {

  .container-hero {
    height: 400px;

  }

  .hero__derecha img {
    display: none;
  }

  .hero-title {
    margin-top: -30px;
    font-size: 40px;
  }

  .hero__izquierda{
    margin-top: -20px;
  }

  .hero-text {
    font-size: 25px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .hero__derecha {
    display: none;
  }

  .hero__derecha img {
    display: none;
  }

  .hero__izquierda {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .hero__izquierda h2 {
    text-align: center;
    margin: 10% 0 0 0;
  }

  .hero__izquierda p {
    text-align: center;
    margin: 10% 0 0 0;
  }
}

@media only screen and (max-width: 1024px) {
  .hero-title {
    font-size: 44px;
  }
}
