:root {
  --bg-purple-dark: rgba(40, 28, 77);
  --bg-purple-light: rgba(83, 41, 174);
  --bg-purple-ultralight: rgba(98,45,178);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}


