.container-proyectos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  height: 100vh; 
  position:relative;
}

.proyecto {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.35s;

}

.proyecto:hover > .txt {
  transform: scale(1.3);
  transition: 0.35s;
  cursor: pointer;
  opacity: 0.8;
  animation: ease-in-out;
}

.proyecto:hover {
  cursor: pointer;
  opacity: 0.35;;
  transition: 0.35s;
}

.img-proyecto {
  width: 380px;
  height: 380px;
}

.txt {
  text-align: center;
  position: absolute;
  opacity: 0;
  transition: 0.35s;
}

.title {
  color: #fff;
}

.desc {
  color: #fff;
}


@media only screen and (min-width: 320px) and (max-width: 600px) {
  .container-proyecto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .proyecto {
    display: flex;
    flex-direction: column;
  }


  .img-proyecto {
    width: 300px;
    height: 300px;
  }

  .txt {
    opacity: 1;
    width: 100%;
  }

  .title,
  .desc {
    margin: 0;
  }


}

@media only screen and (max-width: 768px) and (max-width: 1024px) {
  .img-proyecto {
    width: 400px;
    height: 400px;
  }

  .txt {
    opacity: 1;
    width: 100%;
  }

  .proyecto {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 1280px) {
  .proyecto {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .txt {
    width: 100%;
  }
}

@media only screen and (max-width: 1440px) {
  .proyecto {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .txt {
    width: 100%;
  }
}
